<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.gmirror.org/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/static/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/static/assets/css/style.min.css" rel="stylesheet" />
    <link href="/static/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/static/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    {% block css %}
    {% endblock %}
    <!-- ================== END PAGE LEVEL STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/static/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body>

    {% block main %}
    {% endblock %}

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/static/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="/static/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="/static/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/static/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="/static/assets/crossbrowserjs/respond.min.js"></script>
        <script src="/static/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="/static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    {% block endjs %}
    {% endblock %}
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function() {
            {% block initscript %}{% endblock %}
        });
    </script>
</body>
</html>
