<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>_|_</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
</head>
<body>
<div style="padding: 10px">
    下载最新版：http://hk-sl.mengsky.net/ss2.5.8.zip<br>
    解压并运行Shadows0cks.exe<br>
    服务器IP填IP或者域名，端口、密码、加密填上。点确定<br>
    <img src="/static/img/1.png"><br>
    在系统托盘（屏幕右下角）找到飞机图标，右键，选择启用系统代理<br>
    如果希望所有网站都通过代理（全局模式所有访问都会走代理，速度会比较慢，用完后注意关闭）系统代理模式选择全局<br>
    使用ie/Chrome/Firefox无需设置，直接打开网址google.com<br>
    <br>
</div>

</body>
</html>
