{% extends "base.html" %}

{% block title %}Login::{% endblock %}

{% block css %}{% endblock %}

{% block main %}

	<div class="login-cover">
	    <div class="login-cover-image"><img src="/static/assets/img/login-bg/bg-4.jpg" data-id="login-cover-image" alt="" /></div>
	    <div class="login-cover-bg"></div>
	</div>
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin login -->
        <div class="login login-v2" data-pageload-addclass="animated fadeIn">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    Holy shit
                </div>
            </div>
            <!-- end brand -->
            <div class="login-content">
                <form action="index.html" method="POST" class="margin-bottom-0">

                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-danger fade in m-b-15">
                            {{ message }}
                            <span class="close" data-dismiss="alert">×</span>
                        </div>
                    {% endfor %}

                    <div class="form-group m-b-20">
                        <input type="email" id="email" name="email" class="form-control input-lg" placeholder="Email Address" />
                    </div>
                    <div class="form-group m-b-20">
                        <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password" />
                    </div>
                    <div class="login-buttons">
                        <button type="submit" id="lgoin" class="btn btn-success btn-lg">Login in</button>
                        <button type="submit" id="sign" class="btn btn-warning btn-lg">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end login -->
	</div>
	<!-- end page container -->

{% endblock %}

{% block endjs %}
	<script src="/static/assets/js/login-v2.demo.min.js"></script>
	<script src="/static/assets/js/apps.min.js"></script>
	<script src="/static/js/md5.js"></script>
    <script>
    $("#lgoin").bind("click", function() {
        $("form").attr("action", "./login");
        $("form").submit();
    });
    $("#sign").bind("click", function() {
        $("form").attr("action", "./sign");
        $("form").submit();
    });
    $("form").submit(function(e){
        if ($("#password").val().length == 32) {
            // submit
        } else {
            $("#password").val($.md5("shadowsocks-manage" + $("#password").val()));
        }
    });
    </script>
{% endblock %}

{% block initscript %}
			App.init();
			LoginV2.init();
{% endblock %}
